<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/style.css">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header class="main-header">
            <div class="content">
                <div class="top-bar">
                    <div class="top-top-bar">
                        <a href="/">
                            <img src="./images/logo-mercado-liebre.svg" class="logo">
                        </a>
                        <form action="#" class="search">
                            <input type="search" name="search-bar" class="search-bar" placeholder="Buscar productos, marcas">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <h2 class="buy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                    </h2>
                </div>
                <nav class="nav-bar">
                        <ul class="left-nav-bar">
                            <li><a href="#"> Ofertas</a></li>
                            <li><a href="#"> Tiendas Oficiales</a></li>
                            <li><a href="#"> Vender</a></li>
                            <li><a href="#"> Ayuda</a></li>
                        </ul>
                        <ul class="right-nav-bar">
                            <li><a href="/register"> Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                            <li><a href="/login"> Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                            <li><a href="#"> Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                        </ul>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <div class="banner">
            <img src="./images/img-home-banner.jpg" alt="Banner mercado Liebre">
        </div>
        <main class="login-main">
            <h2 class="title">Ingresa a tu cuenta</h2>
            <form action="/" class="login">
                <label for="nickname">Nombre de usuario</label>
                <input type="text" name="nickname" id="nickname" placeholder="" required>
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="" required>
                <a href="#"><span>¿Olvidaste tu contraseña?</span></a>
                <button type="submit"><span>Ingresar</span></button>
            </form>
        </main>
        <footer class="main-footer">
            <article class="footer-article">
                    <i class="fas fa-credit-card"></i>
                    <h3 class="titles-footer">Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
    
            <article class="footer-article">
                    <i class="fas fa-gift"></i>
                    <h3 class="titles-footer">Envío gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
    
            <article class="footer-article">
                    <i class="fas fa-user-shield"></i>
                    <h3 class="titles-footer">Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            
            <article class="copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
            </footer>
        </body>
    </html>